docker_edition: "ce"
docker_packages:
  - "docker-{{ docker_edition }}"
  - "docker-{{ docker_edition }}-cli"
  - containerd.io
  - docker-buildx-plugin
  - docker-compose-plugin
docker_live_restore: true
docker_create_proxy_network: true
