---
- name: Create project directory
  ansible.builtin.file:
    path: "/srv/nginx"
    state: directory
    mode: "0755"

- name: Copy docker-compose.yml
  ansible.builtin.copy:
    src: "docker-compose.yml"
    dest: "/srv/nginx/docker-compose.yml"
    mode: "0644"

- name: Create nginx directory
  ansible.builtin.file:
    path: "/srv/nginx/nginx"
    state: directory
    mode: "0755"

- name: Copy nginx.conf
  ansible.builtin.copy:
    src: "nginx.conf"
    dest: "/srv/nginx/nginx/nginx.conf"
    mode: "0644"

- name: Create nginx conf.d directory
  ansible.builtin.file:
    path: "/srv/nginx/nginx/conf.d"
    state: directory
    mode: "0755"

- name: Create letsencrypt directory
  ansible.builtin.file:
    path: "/srv/nginx/letsencrypt"
    state: directory
    mode: "0755"

- name: Download dhparams from Mozilla
  ansible.builtin.get_url:
    url: https://ssl-config.mozilla.org/ffdhe2048.txt
    dest: "/srv/nginx/nginx/dhparams"
    mode: "0644"

- name: Start docker services
  community.docker.docker_compose_v2:
    project_src: "/srv/nginx"
    pull: always
    recreate: always
