---
- name: Check if project exists
  register: project_dir_check
  ansible.builtin.stat:
    path: "{{ nginxproxy_project_dir }}"

- name: Create project directory
  when: not project_dir_check.stat.exists
  ansible.builtin.file:
    path: "{{ nginxproxy_project_dir }}"
    state: directory
    mode: "0755"

- name: Copy docker-compose.yml
  ansible.builtin.copy:
    src: "docker-compose.yml"
    dest: "{{ nginxproxy_project_dir }}/docker-compose.yml"
    mode: "0644"

- name: Create nginx directory
  ansible.builtin.file:
    path: "{{ nginxproxy_project_dir }}/nginx"
    state: directory
    mode: "0755"

- name: Copy nginx.conf
  ansible.builtin.copy:
    src: "nginx.conf"
    dest: "{{ nginxproxy_project_dir }}/nginx/nginx.conf"
    mode: "0644"

- name: Create nginx conf.d directory
  ansible.builtin.file:
    path: "{{ nginxproxy_project_dir }}/nginx/conf.d"
    state: directory
    mode: "0755"

- name: Create letsencrypt directory
  ansible.builtin.file:
    path: "{{ nginxproxy_project_dir }}/letsencrypt"
    state: directory
    mode: "0755"

- name: Download DH parameters
  ansible.builtin.get_url:
    url: https://ssl-config.mozilla.org/ffdhe2048.txt
    dest: "{{ nginxproxy_project_dir }}/nginx/dhparams"
    mode: "0644"

- name: Start docker services
  community.docker.docker_compose_v2:
    project_src: "{{ nginxproxy_project_dir }}"
    pull: always
    recreate: always
